%section{'twitter' => "twitter", :height => "300"}	

%section#fb-likes
  #fb-root
    .fb-like-box{ :'data-href' => "https://www.facebook.com/radiodepaul", :'data-width' => "250", :'data-show-faces' => "true", :'data-header' => "true", :'data-stream' => "false", :'data-show-border' => "false"}


